# .gitignore file for HDF4

# Backup files
# Editor-specific extensions should go in your ~/.gitconfig, but we
# include the standard Unix backup '~' extension since autoheader
# backs up H4config.h.in when it creates a new one and the
# extension is always '~'.
**/*~

# Other files
/CTestDriver.cmake
/HDF4-C-Trunk.cmake
/atbuild
/build
/build*
/buildat
/buildstatic
/cmake*.sh
/config*.sh
/CMakeUserPresets.json
HDF4Examples/CMakeUserPresets.json
/log.txt
