* text=auto !eol
java-hdf/docs/UsersGuide/JHV2.2/images/animation.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/annotation.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/contour.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/contrast.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/data-conversion.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/data-range.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/file-manager.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/gr-attribute.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/gr-image.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/histogram.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/image-spreadsheet.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/image-value.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/image-window.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/image-xy-plot.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/interpolate.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/jhv-frame.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/opaque.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/overlay.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/palette-change.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/palette.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/rgb-balance.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/sds-attribute.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/sds-image.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/slice-selection.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/transparent.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/vdata-plot.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/vdata-spreadsheet.gif -text
java-hdf/docs/UsersGuide/JHV2.2/images/vgroup.gif -text
java-hdf/docs/images/GridBagEx.gif -text
java-hdf/docs/images/blue-ball-small.gif -text
java-hdf/docs/images/blue-ball.gif -text
java-hdf/docs/images/class-index.gif -text
java-hdf/docs/images/constructor-index.gif -text
java-hdf/docs/images/constructors.gif -text
java-hdf/docs/images/cyan-ball-small.gif -text
java-hdf/docs/images/cyan-ball.gif -text
java-hdf/docs/images/error-index.gif -text
java-hdf/docs/images/exception-index.gif -text
java-hdf/docs/images/field-index.gif -text
java-hdf/docs/images/fields.gif -text
java-hdf/docs/images/green-ball-small.gif -text
java-hdf/docs/images/green-ball.gif -text
java-hdf/docs/images/interface-index.gif -text
java-hdf/docs/images/magenta-ball-small.gif -text
java-hdf/docs/images/magenta-ball.gif -text
java-hdf/docs/images/method-index.gif -text
java-hdf/docs/images/methods.gif -text
java-hdf/docs/images/package-index.gif -text
java-hdf/docs/images/red-ball-small.gif -text
java-hdf/docs/images/red-ball.gif -text
java-hdf/docs/images/variable-index.gif -text
java-hdf/docs/images/variables.gif -text
java-hdf/docs/images/yellow-ball-small.gif -text
java-hdf/docs/images/yellow-ball.gif -text
java-hdf/lib/hdficons/ann.gif -text
java-hdf/lib/hdficons/collapse.gif -text
java-hdf/lib/hdficons/default.gif -text
java-hdf/lib/hdficons/file.gif -text
java-hdf/lib/hdficons/hdf.gif -text
java-hdf/lib/hdficons/ris.gif -text
java-hdf/lib/hdficons/sds.gif -text
java-hdf/lib/hdficons/vdata.gif -text
java-hdf/lib/hdficons/vgroup.gif -text
java-hdf/lib/hdficons/warning.gif -text
java-hdf/samples/annras.hdf -text
java-hdf/samples/layers8bit.hdf -text
java-hdf/samples/sdsvdata.hdf -text
