* text=auto !eol
config/cmake/hdf.bmp -text svneol=unset#image/x-ms-bmp
config/cmake/hdf.icns -text
config/cmake/hdf.ico -text svneol=unset#image/x-icon
hdf/test/test_files/8bit.dat -text
hdf/test/test_files/bitio.dat -text
hdf/test/test_files/gr_r24.dat -text
hdf/test/test_files/greyjpeg.dat -text
hdf/test/test_files/grtdfui83.hdf -text
hdf/test/test_files/jpeg.dat -text
hdf/test/test_files/litend.dat -text
hdf/test/test_files/nbit.dat -text
hdf/test/test_files/tmgr.dat -text
hdf/test/test_files/tvattr.dat -text
hdf/util/testfiles/SunWheel.gif -text
hdf/util/testfiles/bttrfly.gif -text
hdf/util/testfiles/fp2hdf/h100x100 -text
hdf/util/testfiles/fp2hdf/h100x100h -text
hdf/util/testfiles/fp2hdf/h100x100hv -text
hdf/util/testfiles/fp2hdf/h60x75 -text
hdf/util/testfiles/fp2hdf/h60x75n -text
hdf/util/testfiles/fp2hdf/h60x75v -text
hdf/util/testfiles/fp2hdf/pal.hdf -text
hdf/util/testfiles/fp2hdf/t100x100 -text svneol=unset#application/octet-stream
hdf/util/testfiles/head.r24 -text
hdf/util/testfiles/head.r8 -text svneol=unset#application/octet-stream
hdf/util/testfiles/jet2.hdf -text
hdf/util/testfiles/jpeg_img.jpg -text
hdf/util/testfiles/ntcheck.hdf -text
hdf/util/testfiles/palette.raw -text
hdf/util/testfiles/skull.hdf -text
hdf/util/testfiles/storm110.hdf -text
hdf/util/testfiles/storm110.raw -text svneol=unset#application/octet-stream
hdf/util/testfiles/storm120.hdf -text
hdf/util/testfiles/storm120.raw -text svneol=unset#application/octet-stream
hdf/util/testfiles/storm130.hdf -text
hdf/util/testfiles/storm130.raw -text svneol=unset#application/octet-stream
hdf/util/testfiles/storm140.raw -text svneol=unset#application/octet-stream
hdf/util/testfiles/test.cdf -text
hdf/util/testfiles/test.hdf -text
hdf/util/testfiles/tvattr.hdf -text
mfhdf/dumper/testfiles/Example6.hdf -text
mfhdf/dumper/testfiles/IMCOMP.hdf -text
mfhdf/dumper/testfiles/Image_with_Palette.hdf -text
mfhdf/dumper/testfiles/LongDataset.hdf -text
mfhdf/dumper/testfiles/Roy.nc -text
mfhdf/dumper/testfiles/SDSlongname.hdf -text
mfhdf/dumper/testfiles/Tables.hdf -text
mfhdf/dumper/testfiles/Tables_External_File -text
mfhdf/dumper/testfiles/VGlongname.hdf -text
mfhdf/dumper/testfiles/ctxtr2r.hdf -text
mfhdf/dumper/testfiles/grtdfi322.hdf -text
mfhdf/dumper/testfiles/grtdfui162.hdf -text
mfhdf/dumper/testfiles/grtdfui82.hdf -text
mfhdf/dumper/testfiles/grtdfui83.hdf -text
mfhdf/dumper/testfiles/grtdfui84.hdf -text
mfhdf/dumper/testfiles/sds1_dim1_samename.hdf -text
mfhdf/dumper/testfiles/sds2_dim1_samename.hdf -text
mfhdf/dumper/testfiles/sds_compressed.hdf -text
mfhdf/dumper/testfiles/sds_empty_many.hdf -text
mfhdf/dumper/testfiles/star.hdf -text
mfhdf/dumper/testfiles/swf32.hdf -text
mfhdf/dumper/testfiles/swf32_fileattr.hdf -text
mfhdf/dumper/testfiles/swi16.hdf -text
mfhdf/dumper/testfiles/swi8.hdf -text
mfhdf/dumper/testfiles/tdata.hdf -text
mfhdf/dumper/testfiles/tdf24.hdf -text
mfhdf/dumper/testfiles/tdfr8f.hdf -text
mfhdf/dumper/testfiles/test.hdf -text
mfhdf/dumper/testfiles/tvattr.hdf -text
mfhdf/dumper/testfiles/tvset.hdf -text
mfhdf/dumper/testfiles/vslongname.hdf -text
mfhdf/fortran/test_nc.nc -text
mfhdf/hdfimport/SDSfloat2.hdf -text
mfhdf/hdfimport/SDSfloat3.hdf -text
mfhdf/hdiff/testfiles/hdifftst1.hdf -text
mfhdf/hdiff/testfiles/hdifftst2.hdf -text
mfhdf/hdiff/testfiles/hdifftst3.hdf -text
mfhdf/hdiff/testfiles/hdifftst4.hdf -text
mfhdf/hdiff/testfiles/hdifftst5.hdf -text
mfhdf/hdiff/testfiles/hdifftst6.hdf -text
mfhdf/hdiff/testfiles/hdifftst7.hdf -text
mfhdf/nctest/test_unlim.nc -text
mfhdf/test/sds_szipped.dat -text
mfhdf/test/smallslice.0000.nc -text
mfhdf/test/test1.nc -text
mfhdf/xdr/test_xdr.sav svneol=native#unset
