* text=auto !eol
hdf/test/litend.dat -text svneol=unset#application/octet-stream
mfhdf/libsrc/test.nc -text
mfhdf/libsrc/test_cdf.sav -text
mfhdf/nctest/test.nc -text
mfhdf/nctest/test2.nc -text
mfhdf/xdr/test_xdr.sav svneol=native#unset
