name: hdf4 dev autools CI

# Controls when the action will run. Triggers the workflow on push or pull request
on:
  workflow_call:

permissions:
  contents: read

# A workflow run is made up of one or more jobs that can run sequentially or
# in parallel. We just have one job, but the matrix items defined below will
# run in parallel.
jobs:
    call-debug-netcdf-autotools:
      name: "Autotools Debug NetCDF Workflows"
      uses: ./.github/workflows/main-auto.yml
      with:
            netcdf: enable
            shared: enable
            build_mode: "debug"

    call-release-netcdf-autotools:
      name: "Autotools Release NetCDF Workflows"
      uses: ./.github/workflows/main-auto.yml
      with:
            netcdf: enable
            shared: enable
            build_mode: "production"

    call-debug-static-autotools:
      name: "Autotools Debug Static Workflows"
      uses: ./.github/workflows/main-auto.yml
      with:
            netcdf: disable
            shared: disable
            build_mode: "debug"

    call-release-static-autotools:
      name: "Autotools Release Static Workflows"
      uses: ./.github/workflows/main-auto.yml
      with:
            netcdf: disable
            shared: disable
            build_mode: "production"

    call-release-auto-intel:
      name: "Autotools Intel Workflows"
      uses: ./.github/workflows/intel-auto.yml
      with:
            build_mode: "production"
